@model SmartPPA.Models.SmartUser;
<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="@Url.Action("About","Home")">SmartDocs</a>
    @Html.ActionLink("My Documents", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @Html.ActionLink("Create a Document", "Choices", "Home", new { area = "" }, new { @class = "navbar-brand" })
    @if (Model.UserId == 1)
    {
        @Html.ActionLink("Job Descriptions", "Index", "JobDescription", new { area = "" }, new { @class = "navbar-brand" })
    }
    <div class="col-sm-3 text-right pull-right" style="color: #fff; display:inline-block; height:50px; line-height:50px">
        <span style="padding-right:20px">@Model.DisplayName</span>
    </div>
</div>