<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <link asp-href-include="lib/SmartDocs/css/SmartDocs.css" asp-append-version="true" rel="stylesheet" />
    <title>@ViewData["Title"]</title>

    @RenderSection("Head", false)
</head>
<body>

    @if (ViewData["ActiveNavBarMenuLink"] != null)
    {
        @await Component.InvokeAsync("UserNavBar", new { activeLink = ViewData["ActiveNavBarMenuLink"] })
    }
    else
    {
        @await Component.InvokeAsync("UserNavBar", new { activeLink = "" })
    }

    <div class="col-xs-12" style="position:relative">
        <div style="text-align:center">
            <h3 id="pageMessage" style="font-size:14px; color:#9b2121">@ViewBag.Message</h3>
        </div>
        @RenderBody()
    </div>
</body>
</html>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
@RenderSection("Scripts", false);