@model IEnumerable<SmartPPA.Models.Types.JobDescriptionCategory>

<!DOCTYPE html>

<h5>Categories</h5>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Title
            </th>
            <th>
                Weight %
            </th>
            <th>
                0
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @item.Letter
                @Html.HiddenFor(x => item.SelectedScore)
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Weight
            </td>
            @for (int i = 0; i < item.Scores.Count(); i++)
            {
                <td>
                    @Html.RadioButtonFor(x => x.Scores[i])
                </td>
            }
        </tr>
        }
    </tbody>
</table>
