@model SmartDocs.Models.JobDescription
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-action="Index">Back to List</a>
<h2>Job Description Detail</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Class Title:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassTitle)
        </dd>
        <dt>
            Rank:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt>
            Working Title:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingTitle)
        </dd>
        <dt>
            Grade:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt>
            Working Hours:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingHours)
        </dd>
    </dl>
    @foreach (var item in Model.Categories)
    {
        <dl class="dl-horizontal">
            <dt>
                Category:
            </dt>
            <dd style="font-weight:bold">
                @item.Letter: @item.Title
            </dd>
            <dt>
                Weight:
            </dt>
            <dd>
                @item.Weight
            </dd>
            <dt>
                Position:
            </dt>
            <dd>
                @foreach (var pos in item.PositionDescriptionItems)
                {
                    <p>@pos.Detail</p>
                }
            </dd>
            <dt>
                Standards:
            </dt>
            <dd>
                @foreach (var perf in item.PerformanceStandardItems)
                {
                    <p>@perf.Detail</p>
                }
            </dd>
        </dl>
    }

</div>
