@model SmartDocs.Models.JobDescription

<!DOCTYPE html>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Title
            </th>
            <th>
                Weight %
            </th>
            <th>
                0
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th style="text-align:center">
                Score
            </th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Categories.Count(); i++)
    {
        <tr>
            <td>
                @Model.Categories[i].Letter
            </td>
            <td>
                @Model.Categories[i].Title
            </td>
            <td>
                @Model.Categories[i].Weight
            </td>
            <td>
                @Html.RadioButtonFor(x => Model.Categories[i].SelectedScore, 0, new { onClick = $"ratingChange({Model.Categories[i].Weight}, {i}, 0)" })
            </td>
            <td>
                @Html.RadioButtonFor(x => Model.Categories[i].SelectedScore, 1, new { onClick =$"ratingChange({Model.Categories[i].Weight}, {i}, 1)" })
            </td>
            <td>
                @Html.RadioButtonFor(x => Model.Categories[i].SelectedScore, 2, new { onClick = $"ratingChange({Model.Categories[i].Weight}, {i}, 2)" })
            </td>
            <td>
                @Html.RadioButtonFor(x => Model.Categories[i].SelectedScore, 3, new { onClick = $"ratingChange({Model.Categories[i].Weight}, {i}, 3)" })
            </td>
            <td>
                @Html.RadioButtonFor(x => Model.Categories[i].SelectedScore, 4, new { onClick = $"ratingChange({Model.Categories[i].Weight}, {i}, 4)" })
            </td>
            <td style="text-align:center" >
                <div id="Row-Total-@i" class="total-col">@(Model.Categories[i].SelectedScore * 0.01 * Model.Categories[i].Weight)</div>
            </td>
        </tr>
    }
        <tr>
            <td colspan="7" style="text-align:right">
                <span id="ratingValidator" class="text-danger" style="display: none">Please provide ratings for each category.</span>
            </td>
            <td colspan="1" style="text-align:right">
                Total Rating
            </td>
            <td id="Total-Rating" style="text-align:center">
                
            </td>
        </tr>
        <tr>
            <td colspan="8" style="text-align:right">
                Overall Appraisal
            </td>
            <td id="Overall-Appraisal" style="overflow: hidden; width: 200px; text-align:center;">

            </td>
        </tr>
    </tbody>
</table>
